@media(max-width: 1200px) {
	.container {
		padding: 0 50px;
	}

	.header {
		padding: 25px 0;
	}

	.header__container {
		justify-content: space-between;
	}

	.nav__list {
		gap: 60px;
	}

	.header__img {
		max-height: 48px;
	}

	.header__nav {
		margin-right: 105px;
	}

	.hero {
		padding-top: 38px;
		padding-bottom: 35px;
	}

	.hero__wrapp {
		min-height: 668px;
	}

	.hero__content {
    padding-left: 76px;
	}

	.hero__title {
		margin-bottom: 16px;
		font-size: 60px;
	}

	.hero__descr {
		margin-bottom: 60px;
		max-width: 660px;
		font-size: 20px;
	}

	.btn_big {
		font-size: 24px;
		padding: 24px 35px
	}

	.about__descr {
		margin-bottom: 57px;
	}

	.about__wrapp {
		--offsets: 0;
	}

	.about__left {
		min-height: 641px;
	}

	.card-about {
		padding-left: 76px;
	}

	.section_offset {
		padding-bottom: 78px;
	}

	.stages__wrapp {
		--gap: 50px;
	}

	.stages__descr_mb {
		margin-bottom: 26px;
	}

	.questions__list {
		--offsets: 0;
	}

	.questions__title {
		margin-bottom: 34px;
	}

	.questions__subtitle {
		max-width: 100%;
	}

	.questions__descr {
		max-width: 100%;
	}

	.questions__item {
		padding: 64px 59px
	}

	.footer__descr {
		display: none;
	}

	.footer__list {
		gap: 1px;
	}

	.footer__menu {
		min-width: 251px;
	}

	.nav__link_footer {
		line-height: 35px;
	}
	
	.application-form {
		padding-top: 4px;
		margin-right: 0;
	}

	.application-form__input {
		padding: 14px 22px;
	}

	.application-form__text { 
		padding: 14px 22px;
	}

	.application-form__post {
		padding-bottom: 4px;
	}

	.btn_long {
		padding: 19px 37px;
	}

}

@media(max-width: 932px) {
	.header__logo {
		margin-right: 44px;
	}

	.header__img {
		max-height: 35px;
	}

	.header {
		padding: 16px 0;
	}

	.header__nav {
		margin-right: 43px;
	}

	.hero__wrapp {
		min-height: 662px;
		border-radius: 24px;
	}

	.hero__content {
		padding-left: 40px;
		max-width: 621px;
	}

	.btn_big {
		padding: 24px 39px;
		font-size: 23px;
	}

	.hero__title {
		font-size: 50px;
	}

	.hero__descr {
		font-size: 18px;
	}

	.nav__link {
		font-size: 16px;
		font-weight: 700;
	}

	.nav__list {
		gap: 41px;
	}

	.about__descr {
		margin-bottom: 53px;
	}

	.about__left {
		min-height: 650px;
	}

	.block-about {
		border-radius: 24px;
	}

	.block-about__inner {
		padding: 32px 40px;
		border-radius: 24px;
	}

	.block-about__descr {
		max-width: 366px;
	}

	.card-about {
		padding: 35px 0;
		padding-left: 40px;
		border-radius: 24px;
	}

	.card-about::before {
		margin-right: 16px;
		width: 114px;
		height: 99px;
		background-size: 114px 99px;
	}

	.card-about__content {
		max-width: 452px;
	}

	.title {
		margin-bottom: 21px;
	}

	.section_offset {
		padding-bottom: 78px;
	}

	.stages__wrapp {
		gap: 38px;
	}

	.stages__img {
		max-height: 293px;
		border-radius: 26px;
	}

	.stages__descr {
		display: inline;
	}

	.stages__btns {
		padding-top: 26px;
	}

	.questions {
		padding-top: 3px;
	}

	.title {
		margin-bottom: 22px;
	}

	.questions__title {
		margin-bottom: 32px;
	}

	.questions__item {
		padding: 34px 39px;
	}

	.stages__wrapp {
		--offsets: 0;
		flex-wrap: wrap-reverse;
	}

	.application-form {
		padding: 0;
		margin-bottom: 50px;
	}
	.footer__wrapp {
		flex-direction: column-reverse;
		max-width: 541px;
		padding: 53px 0;
	}

	.footer__nav {
		display: none;
	}

	.application-form__input {
		padding: 14px 24px;
	}

	.application-form__text {
		padding: 14px 24px;
		min-height: 150px;
	}

	.application-form__post {
		padding-bottom: 0;
	}

	.application-form__data-processing {
		padding-left: 1px;
		padding-top: 3px;
	}

	.footer__logo {
		margin-bottom: 13px;
	}
}

@media(max-width: 767px) {
	.header__logo {
		flex-shrink: 0;
		margin-right: 14px;
	}

	.nav__list {
		gap: 18px;
	}
}

@media(max-width: 670px) {
	.btn {
		padding: 12px 44px;
		border-radius: 8px;
		font-size: 12px;
	}

	.container {
		padding: 0 15px;
	}

	.header {
		padding-top: 17px;
		padding-bottom: 38px;
		border-radius: 0 0 16px 16px;
	}

	.header__container {
		position: relative;
		flex-direction: column;
		align-items: unset;
		overflow: hidden;
	}

	.header__logo {
		margin-right: auto;
		margin-bottom: 16px;
	}

	.header__search {
		position: absolute;
		top: 4px;
		right: 15px;
	}

	.header__nav {
		order: 1;
	}

	.nav__list {
		gap: 25px;
	}

	.nav__link {
		white-space: nowrap;
	}

	.hero {
		padding-top: 24px;
		padding-bottom: 60px;
	}

	.hero__wrapp {
		background-image: url(../img/hero-320-img.png);
		min-height: 308px;
		border-radius: 16px;
	}

	.hero__content {
		align-items: center;
		padding: 0 22px;
	}

	.hero__title {
		margin-bottom: 6px;
		font-size: 20px;
		text-align: center;
	}

	.hero__descr {
		margin-bottom: 32px;
		font-size: 12px;
		text-align: center;
	}

	.btn_big {
		font-size: 12px;
		padding: 13px 28px;
		border-radius: 8px;
	}

	.title {
		margin-bottom: 20px;
		font-size: 24px;
	}

	.about__descr {
		margin-bottom: 14px;
		font-size: 14px;
		line-height: 28px;
	}

	.about__left {
		position: relative;
		min-height: 399px;
		flex-direction: column;
	}


	.block-about {
		background-image: url(../img/about-320-img.png);
		max-height: 200px;
		max-width: 290px;
		border-radius: 16px;
	}

	.block-about__inner {
		position: absolute;
		padding: 0;
		top: 206px;
		background-color: inherit;
		flex-direction: column;
	}

	.block-about__descr {
		color: #000;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		margin-bottom: 12px;
	}

	.btn_transparent-orange {
		padding: 11px 42px;
		border-radius: 8px;
		border: 2px solid #F90;
		color: #F90;
		text-align: center;
		font-size: 12px;
		font-weight: 700;
		align-self: normal;
	}

	.btn_transparent-orange:hover {
		color: #fff;
	}

	.btn_transparent-orange:focus {
		color: #fff;
		border: 2px solid #F90;
	}

	.btn_transparent-orange:active {
		border: 2px solid #E1670E;
	}

	.card-about {
		padding: 0;
		display: flex;
		flex-direction: column;
		border: none;
	}

	.card-about::before {
		margin-bottom: 12px;
		margin-right: 0;
		width: 64px;
		height: 49px;
		background-size: 64px 49px;
		align-self: normal;
	}

	.card-about__subtitle {
		margin-bottom: 4px;
		font-size: 18px;
		font-weight: 500;
	}

	.card-about__descr {
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	.card-about_img1::before {
    background-image: url(../img/about-icon-320.svg);
	}

	.card-about_img2::before {
	background-image: url(../img/about-icon2-320.svg);
	}

	.section_offset {
		padding-bottom: 59px;
	}

	.stages__title {
		margin-bottom: 10px;
	}

	.stages__wrapp {
		gap: 16px;
	}

	.stages__img {
		min-height: 169px;
		border-radius: 16px;
	}

	.stages__subtitle {
		margin-bottom: 8px;
		font-size: 18px;
		font-weight: 500;
	}

	.stages__descr {
		font-size: 14px;
		line-height: 28px;
	}

	.stages__btns {
		padding-top: 25px;
		gap: 10px;
	}

	.btn_transparent-black {
		padding: 10px 32px;
		font-size: 12px;
		font-weight: 400;
	}

	.questions__item {
		padding: 0;
		border: none;
	}

	.questions__subtitle {
		margin-bottom: 4px;
		font-size: 18px;
		font-weight: 500;
	}

	.questions__descr {
		font-size: 14px;
		line-height: 28px;
	}

	.footer__wrapp {
		padding: 30px 0;
	}

	.application-form {
		margin-bottom: 25px;
	}

	.application-form__title {
		margin-bottom: 20px;
		font-size: 24px;
	}

	.application-form__input {
		padding: 14px 20px;
		font-size: 14px;
	}

	.application-form__text {
		padding: 14px 20px;
		margin-bottom: 26px;
		font-size: 14px;
	}

	.application-form__post {
		flex-wrap: wrap;
		justify-content: center;
		gap: 9px;
	}

	.btn_long {
		font-size: 12px;
		padding: 12px 19px;
	}

	.footer__menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 16px;
		border-top: 1px solid #414141;
	}

	.footer__logo {
		max-height: 42px;
		margin-bottom: 16px;
	}

	.icons {
		gap: 16px;
	}

	.icon svg {
		width: 40px;
		height: 40px;
	}

}